.menu > .active {
  border-bottom: 2px solid slateblue;
}
.menu > .item {
  border-bottom: 2px solid transparent;
}

.card .content .flex {
  display: flex;
  justify-content: space-between;
}
.post {
  display: flex;
  flex-wrap: wrap;
}
.post > div {
  margin: 10px;
}

.ui.form {
  margin: 0 auto;
  max-width: 50% !important;
}
.ui.form > .btn {
  width: 100%;
  text-align: center;
}
.register > div.error {
  max-width: 50% !important;
  margin: 10px auto;
}
