.menu > .active {
  border-bottom: 2px solid slateblue;
}
.menu > .item {
  border-bottom: 2px solid transparent;
}

.card .content .flex {
  display: flex;
  justify-content: space-between;
}
.post {
  display: flex;
  flex-wrap: wrap;
}
.post > div {
  margin: 10px;
}
